$theme-color-1: #1B264F; // Body
$theme-color-1-end: #6699CC; // Body gradient
$theme-color-2: #fAfAfA; // main background and nav text
$theme-color-3: #020202; // Main text
$theme-color-4: #FF8300; // Nav colour
$theme-color-5: #FF8300; // Highlight colour
$theme-color-6: #020202; // Nav Text
$theme-color-4-hover: #FFAF00; // Nav background hover
