$mobile-brand-size: 75px;
$tablet-brand-size: 100px;
$desktop-brand-size: 150px;

.brand-link {
    padding: 0;
    position: absolute;
    bottom: 0;

    img {
        height: 100%;
        width: 100%;
        display: block;
    }
}

// Override bootstrap
.navbar {
    position: relative;
    background-color: $nav-background-color;
    border: none;

    .navbar-toggle {
        border-color: $nav-text-color;

        .icon-bar {
            background-color: $nav-text-color;
        }

        &:focus, &:hover {
            border-color: $nav-background-color;
            background-color: $nav-text-color;

            .icon-bar {
                background-color: $nav-background-color;
            }
        }
    }

    .navbar-collapse, .navbar-form {
        border-color: $nav-background-color-hover;
    }
    
    .navbar-nav > li > a {
        color: $nav-text-color;

        &:focus, &:hover {
            color: $nav-text-color;
            background-color: $nav-background-color-hover;
        }
    }

    .navbar-nav > .active > a {
        color: $nav-background-color;
        background-color: $nav-text-color;

        &:focus, &:hover {
            color: $nav-background-color;
            background-color: $nav-text-color;
        }
    }
}

@include mobile {
    .brand-link {
        width: $mobile-brand-size;
        height: $mobile-brand-size;
        left: calc(50% - (#{$mobile-brand-size} / 2));
    }

    .navbar {
        // We need to use the header as the relative position for mobile sizes
        // so that the brand is not effected by opening the toggle.
        // But the header doesn't have a height at other breakpoints
        .navbar-header {
            position: relative;
        }
    }
}

@include tablet {
    .brand-link {
        width: $tablet-brand-size;
        height: $tablet-brand-size;
        left: calc(50% - (#{$tablet-brand-size} / 2));
    }
}

@include desktop {
    .brand-link {
        width: $desktop-brand-size;
        height: $desktop-brand-size;
        left: calc(50% - (#{$desktop-brand-size} / 2));
    }
}